// TYPOGRAPHY
$font-basic: "Droid Sans", "Arial", sans-serif;
$fnt-size-basic: 14px;

// COLORS: BACKGROUND
$bg-basic: #ffffff;

// COLORS: TEXT
$text-clr-basic: #000000;

// LAYOUT SIZES
$tablet-width: 1023px;
$mobile-width: 767px;
