.main {
  margin-bottom: 60px;

  h1 {
    @include offset-reset();
    margin-bottom: 20px;

    font-size: $fnt-size-heading;
    line-height: normal;
    font-weight: bold;
  }
}

.main__wrapper {
  @include container();
}

.main__breadcrumbs {
  margin-bottom: 40px;
}

.main__container {
  display: grid;
  grid-template-columns: 22.12% 74.35%;
  column-gap: 3.53%;
}

@media (max-width: $tablet-width) {
  .main__container {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
