.main {
  h1 {
    @include offset-reset();
    margin-bottom: 20px;

    font-size: $fnt-size-heading;
    line-height: normal;
    font-weight: bold;
  }

  &--catalog {
    margin-top: -48px;
    margin-bottom: 54px;
  }

  &--cart {
    margin-top: -24px;
    margin-bottom: 86px;
  }
}

.main__wrapper {
  @include container();
}

.main__breadcrumbs {
  padding-bottom: 28px;
}

.main__container {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 22.1% 74.5%;
  column-gap: 3.4%;
}

@media (max-width: $tablet-width) {
  .main__container {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
