.button {
  @include button-reset();

  font-weight: bold;
  border-radius: 2px;
}

.button--plain {
  color: $bg-basic;
  background-color: $bg-button;

  &:hover {
    background-color: $dash-clr;
  }

  &:active {
    background-color: $bdr-clr-input;
  }
}

.button--bright {
  color: $bg-basic;
  background-color: $bg-bright;

  &:hover {
    background-color: $bg-bright-hvr;
  }

  &:active {
    background-color: $bg-bright-act;
  }
}

.button--transparent {
  color: $dash-clr;
  background-color: transparent;
  border: 1px solid $dash-clr;

  &:hover {
    color: rgba($dash-clr, 0.7);
    border-color: rgba($dash-clr, 0.7);
  }

  &:active {
    color: rgba($dash-clr, 0.5);
    border-color: $bdr-button-act   ;
  }
}
