.main-nav {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $bg-header;
}

.main-nav__wrapper {
  @include container();
  display: flex;
}

.main-nav__logo {
  margin-right: 94px;
}

.main-nav__user {
  @include list-reset();
  margin-left: auto;
}


@media (max-width: $tablet-width) {
  .main-nav__logo {
    margin-right: 50px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__wrapper {
    flex-direction: column;
  }

  .main-nav__user {
    margin-left: 0;
  }
}
