.user-nav {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 154px;
  padding-right: 6px;
  padding-top: 15px;

  font-size: 0;
}

.user-nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 9px;
}

.user-nav__counter {
  position: absolute;
  top: 10px;
  right: 4px;

  font-size: 10px;
  line-height: normal;
  color: $text-clr-counter;
}

@media (max-width: $tablet-width) {
  .user-nav {
    width: 144px;
  }

  .user-nav__item {
    margin: 0 3px;
  }
}

@media (max-width: $mobile-width) {
  .user-nav {
    width: auto;
  }
}
