.breadcrumbs {
  @include list-reset();
  display: flex;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 36px;

  font-size: $fnt-size-label;
  line-height: normal;
  color: $text-clr-hvr;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 10px;
    width: 16px;
    height: 16px;

    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 8px;
  }

  span {
    cursor: default;
  }
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;

  &:active {
    opacity: 0.5;
  }
}
