.pagination {
  display: flex;
  justify-content: flex-end;

}

.pagination__item {
  @include button-reset();
  padding-top: 1px;
  padding-bottom: 1px;

  font-size: $fnt-size-button;
  line-height: 1.667;
  letter-spacing: 0.05em;
  text-align: center;

  border: 1px solid $bdr-clr-input;
  border-radius: 2px;
  background-color: transparent;
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

.pagination__button {
  padding-right: 22px;
  padding-left: 20px;

  &--forward {
    margin-left: 4px;
  }

  &--back {
    margin-right: 14px;
  }
}

.pagination__link,
.pagination__dots {
  min-width: 24px;
  padding-right: 5px;
  padding-left: 5px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--current {
    color: $bg-basic;
    border: none;
    background-color: $dash-clr;
  }
}

.pagination__link--current,
.pagination__dots {
  cursor: default;
  &:hover,
  &:active {
    opacity: 1;
  }
}
